<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">

</head>
<body>
    <div class="container cont cent w-50">
        <h1>Register</h1>
        <form action="/register" method="POST">

            <div class="cent mb-4">
              <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            </div>

            <div class="cent mb-4">
              <input type="password" class="form-control" id="master_password" name="master_password" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        <p>Already have an account? <a href="/">Login here</a></p>
    </div>
    <script src="/static/bootstrap.bundle.min.js"></script>
</body>
</html>
